*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix{
    zoom: 1;
}
.clearfix:after{
    content: " ";
    clear: both;
    display: block;
    height:0;
    visibility: hidden;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
}
.row{
    margin:0 auto;
}
nav
{
    width: 100%;
    padding:8px 0;
    background-color: rgba(27, 27, 19, 0.418);
}
.logo{
    height: 100px;
    width: 100px;
    float:left;
    border-radius: 50%;
    border:2px rgb(214, 211, 211);
    margin-left: 5%;
}
.main-nav{
    float:right;
    list-style:none;
    margin-top:40px;
    margin-right: 40px;
    
}
.main-nav li{

    display: inline-block;
    margin-left: 30px;
}
.main-nav li a:link,
.main-nav li a:visited
{
    padding:8px 0;
    font-size: 15px;
    font-family: lato, Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:#fff;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #F9A602;
}
.nav-icon{
    margin-top: 40px;
    cursor: pointer;
    display:none;
    float: right;
    margin-right: 30px;
    font-size: 40px;

}
.nav-icon i{
    color:#fff;
}
/*for sticky nav*/
.sticky{
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    background-color: rgb(8, 8, 8);
    z-index: 999;
}
.sticky .logo{
    height: 50px;
    width: 50px;
    float:left;
    border-radius: 50%;
    border:2px rgb(214, 211, 211);
    margin-left: 5%;
}
.sticky .main-nav{
    margin-top:15px;
}
.sticky .main-nav li a{
    font-size:14px;
}
.sticky .nav-icon{
    margin-top: 13px;
    font-size: 25px;
}
.heading h1{
    font-family: lato, sans-serif;
    font-size:60px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-top: 20vh;
}
.flag{
    height:135px;
    width:auto;
    position: fixed;
    top:23%;
}
.home-buttons
{
    padding: 10px;
    text-align: center;
    margin: 10px 0;
}
.btn
{
    margin:15px;
    padding:8px 40px;
    font-size: 25px;
    border-radius:200px;
    text-decoration: none;
    font-family: lato, sans-serif;
    font-weight: 700;
    font-style: italic;
    padding-bottom: 10px;
    letter-spacing: 1px;
    transition: color 0.3s,border 0.3s;

}
.btn-full:link,
.btn-full:visited
{
    color:rgb(217, 248, 38);
    background-color: rgba(17, 17, 16, 0.459);
    border:2px solid rgb(217, 248, 38);
}
.btn-ghost:link,
.btn-ghost:visited
{
    background-color: rgba(17, 17, 16, 0.459);
    border: 2px solid #fff;
    color:#fff;
}
.btn-full:hover,
.btn-full:active
{
    background-color: rgba(17, 17, 16, 0.459);
    border: 2px solid #fff;
    color:#fff;
}
.btn-ghost:hover,
.btn-ghost:active
{
    color:rgb(217, 248, 38);
    background-color: rgba(17, 17, 16, 0.459);
    border:2px solid rgb(217, 248, 38);
}
.btn-link:link,
.btn-link:visited{
    padding:5px 15px;
    padding-top:10px;
    font-size: 10px;
    border-radius:200px;
    text-decoration: none;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 0.3s,border 0.3s;
    background-color: rgba(8, 8, 8, 0.932);
    border:2px solid #F9A602;
    color:#fff;
}
.btn-link:hover,
.btn-link:active
{
    background-color:#F9A602;
    color:rgba(8, 8, 8, 0.932);
}.section-categories{
    background-color: #fff;
    width:100%;
    padding-top: 40px;
}
h2{
    font-size:30px;
    font-family: lato,Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: center;
    padding:5px 0;
    margin:1% 0 1% 0;
}
h2::after{
    height:2px;
    width:50px;
    display:block;
    background-color:#F9A602;
    content:"";
    margin:0 auto;
    margin-top: 15px;

}
h3{
    font-size:20px;
    font-family: lato,Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: center;
    padding:5px 0;
    margin:0.5% 0 0.5% 0;
}

.box{
    background-color: #dbcfdb;
    padding:0 0 5px 0;
    width:90%;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px rgb(190, 188, 188);
}
.hero{
    padding-left: 6%;
}
.box .category-image
{
    width:100%;
}
.box .category-image .image{
    width:100%;
    height:auto;
    margin-bottom: 10px;
}
.stars i{
    font-size: 25px;
    margin: 5px;
}
.light{
    color:#F9A602;
}
.dark{
    color:#264348;
}
.stars{
    text-align: center;
}
.button-1
{
    text-align: center;
    padding:20px 0 15px 0;
}
.section-target
{
    background-color: #bdc3c7;
    padding-top: 40px;

}
.paragraph
{
    padding: 15px 50px; 
    text-align: justify;
    font-size: 18px;
    font-family: lato, Arial, Helvetica, sans-serif;
    font-weight: 400;
    color:#334d50;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-left: -15px;
}
.welcome
{
    padding: 20px 0;
    margin-left: 20px;
    padding-right: 20px;
    border-right: 2px solid #334d50;
}
.welcome img{
        width:100%;
}
.welcome p{
    margin-left:20px;
    text-align: justify;
    color:rgb(194, 8, 147);
    font-family: lato,Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 1px;
}
.question-mark
{
    text-align: justify;
    font-size: 18px;
    font-family: lato,Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 1px;
}
.box-a
{
    width:70%;
    margin:20px auto 0 auto;
    padding:20px 0;
    padding-bottom: 40px;
}
#arrow{
    font-size: 25px;
    font-weight: bold;
    color:black;
}
.section-challenges{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../images/3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding:30px 0;
    color:rgb(161, 157, 157);
    padding-top: 40px;
}
ul{
    margin: 15px 0;
    list-style: none;
}
.right{
   float:right;
   margin-right: 6.5%;
   text-align: justify;
}
.left{
    float:left;
    margin-left: 6.5%;
    text-align: justify;
}
ul li h3{
    color:rgb(226, 223, 10);
}
ul li p{
    font-family: lato,Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.section-footer{
    background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url(../images/pg/18.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    text-rendering: optimizeLegibility;

}
.nav-footer{
    list-style: none;
    float: left;
    margin: 50px 0;
    margin-left: 15%;
}

.nav-footer li{
    margin-top:10px;
}
.nav-footer li a{
    text-decoration: none;
    color:rgb(121, 113, 113);
    font-size:18px;
    font-family: lato,Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
}
.i-icon
{
    color:rgb(177, 173, 173);
}
.social-links{
    list-style: none;
    float:right;
    margin-top:20vh;
}
.social-links li{
    display:inline-block;
    margin-left: 20px;
    margin-top:20px;
}
.social-links ul li a{
    font-size:30px;
}
.i-github
{
    color:rgb(214, 210, 210);
}
.i-twitter
{
    color:rgb(40, 74, 230);
}
.i-facebook
{
    color:rgb(213, 213, 224);
}
.i-google
{
    color:rgb(212, 11, 11);
}
.i-linkedin
{
    color:rgb(8, 8, 173);
}
.i-instagram
{
    color:rgb(122, 9, 122);
}
.nav-footer li a:hover,
.nav-footer li a:active
{
    color:rgb(177, 173, 173);
}
h4{
    text-align: center;
    font-family: cursive,lato,Arial, Helvetica, sans-serif;
    font-size:35px;
    font-weight: 400;
    margin-bottom: 40px;
    color:rgb(8, 150, 3);

}
cite{

    margin:20px auto;
    font-size: 25px;
    font-family: lato,Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style:normal;
    color:#fff;
}
cite img{
    height:80px;
    width:80px;
    border-radius: 50%;
    border:2px solid #fff;
    vertical-align: middle;
}
h5
{
    text-align: center;
    font-family: cursive,lato,Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight: 400;
    margin-bottom: 40px;
    color:rgb(206, 207, 206);
}
.section-say{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/heritage-site/pasupatinath.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 40px;
}
.their-say{
    padding:40px 0;
    width:80%;
    margin-left:14%
}
.topic h2{
    margin-top: 40px;
    color:#F9A602;
}
blockquote
{
    width:80%;
    padding:2%;
    line-height: 25px;;
    font-family: lato,Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:#bdc3c7;
    letter-spacing: 1px;
    word-spacing: 1.5px;
    text-align: left;
    
}
blockquote cite{    
    display: block;
    color:#060ae9;
    font-size: 20px;
}
blockquote::before{
    margin-top: 5px;
    font-size: 80px;
    color:#fff;
    display:block;
    content: "\201C";
}
blockquote cite img{
    height:50px;
    width:50px;
}
.left,
.right,
.nav-footer,
.social-links
{
    width:40%;;
}